extends layout

block content
  .controls
    .mode.button-group
      button.active( value='search' )
        i.icon-search
        | Search
      button( value='directions' )
        i.icon-road
        | Directions
    form.search
      input( type="text", name="q", value=q, placeholder="Search or Address" )
      input( type="submit", value="Search" )
    form.directions
      input( type="text", name="from", value="Current Location", placeholder="From" )
      input( type="text", name="to", placeholder="To" )
      input( type="submit", value="Route" )
    button.locate: i.icon-globe

  script( type="text/javascript", src="//maps.googleapis.com/maps/api/js?key=AIzaSyAhjJMxgwP33Z6qnoAPDO-OeXOgcIePgS8&libraries=places&sensor=true" )
  script( type="text/javascript", src="/javascripts/zepto.js" )
  script( type="text/javascript", src="/javascripts/underscore.js" )
  script( type="text/javascript", src="/javascripts/backbone.js" )

  script( type="text/javascript", src="/javascripts/application.js" )
  script( type="text/javascript" )
    window.app = new App
