@import nib

@import 'normalize.css'
@import 'font-awesome.css'

html, body
  height 100%

#map
  height 100%

.controls
  position fixed
  z-index 1
  left 50%
  margin-left -308px
  background-color hsla(0, 0%, 100%, 0.8)
  padding 5px
  border-bottom-right-radius 2px
  border-bottom-left-radius 2px
  form
    display inline
  form.search
    input[type=text]
      width 400px
  form.directions
    display none
    input[type=text]
      width 196px
  input, button
    padding 5px
  input, button, .button-group
    margin 0 2px
    border solid 1px hsla(0, 0%, 0%, 0.2)
    border-radius 3px
    box-shadow inset 0 0 3px hsla(0, 0%, 0%, 0.2)
  .button-group
    display inline-block
    button
      margin 0
      border none
      border-radius 0
      box-shadow none
      i
        margin-right 0.5ex
    button + button
      border-left solid 1px hsla(0, 0%, 0%, 0.2)
  button, input[type=submit]
    background white linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2))
    &:active, &.active
      box-shadow inset 0 0 3px hsla(0, 0%, 0%, 0.4)
      background-color #eee

.pac-container
  padding 3px
  box-shadow 0 5px 5px hsla(0, 0%, 50%, 0.5)
.pac-item
  font-size small
  line-height 150%
  color gray
  b
    color black

.popup
  position absolute
  max-width 200px
  border-radius 5px
  background hsla(0, 0%, 0%, 0.8) -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.1) 0%, hsla(0, 0%, 100%, 0.1) 50%, hsla(0, 0%, 0%, 0.1) 50%, hsla(0, 0%, 0%, 0.1) 100%)
  border solid 1px hsla(0, 0%, 0%, 0.6)
  color white
  text-shadow 0 -1px 0 hsla(0, 0%, 0%, 0.8)
  padding 10px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  box-shadow 0 5px 5px hsla(0, 0%, 50%, 0.5), inset 0 1px 0 hsla(0, 0%, 100%, 0.2)
  margin-top -70px
